@-moz-keyframes tremor {
	0% {
		-moz-transform: translate(0px, 2px);
	}
	25% {
		-moz-transform: translate(-2px, 0px);
	}
	50% {
		-moz-transform: translate(0px, -2px);
	}
	75% {
		-moz-transform: translate(2px, 0px);
	}
	100% {
		-moz-transform: translate(0px, 0px);
	}
}
.blackhole-animate {
		-moz-transition: all 1s ease-in-out;
	}
body.blackhole-animate {
	-moz-animation-name: tremor;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: linear;
	-moz-animation-play-state: running;
}	

.scary-blackhole { 
	position: absolute;
	top: 0px; left: 0px;
	z-index: 9999;
	-moz-transition: all 3s linear 3s;
}

.scary-blackhole.init-blackhole-position {
	width: 20px;
	height: 20px;
	-moz-border-radius: 10px;
	background: #000;
}

.scary-blackhole.init-blackhole-position:hover {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	background: #000;
	-moz-transform: translate(50px, 50px);
}